.container{
    width: 1440px;
    margin: 0 auto;

    .form{
        margin: 0 auto;
        width: 550px;
        gap: 20px;
        display: flex;
        padding: 20px;
        justify-content: center;
        flex-direction: column;

        input{
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #000;
        }

        button {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #000;
            cursor: pointer;
        }
    }

    .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }
    
}
