.button{
    cursor: pointer;
    margin: 10px 0;
    width: 230px;
    padding: 10px 0;
    background-color: #6cafb0;
    color: white;
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
    border: 2px solid #2c5254;
    text-transform: uppercase;
    transition: 300ms;
}

.button:disabled{
    cursor: not-allowed;
    background-color: #cbe0e0;
    border: 2px solid #98c2c4;
}

.button:active{
    background-color: #172f31;
}